<%- include("partials/header"); -%>

<div class="container blogs mt-5">
  <div class="container box text-center heading">
      <h3>Calendar Schedule</h3>
  </div>

  <div id='calendar'></div>

  <div class="box listofevents">
  <% const age = 18; %>
  <% const arr = []; %>
    <% if(newMeetings.length>0){ %>

      <% newMeetings.forEach((newMeeting)=>{ %>
        <% arr.push(newMeeting); %>
        <form action="/delete" method="post">
          <div class = "eachlistitem">
            <input class="input" type="checkbox" name="checkbox" value="<%=newMeeting._id%>" onChange="this.form.submit()">
            <p class="mb-0 fw-bold title"><%=newMeeting.title%></p>
            <p class="mt-0 mb-0 fw-bold text-secondary details"><%=newMeeting.details%></p>
            <a href="https://<%=newMeeting.url%>" class="mt-0 mb-0 fw-bold text-secondary details "><%=newMeeting.url%></a>
            <p class="mt-0 mb-0 fw-bold text-secondary details">Starts:- <%=newMeeting.start?.getDate()%>-<%=newMeeting.start?.getMonth()%>-<%=newMeeting.start?.getYear()%> ,<%=newMeeting.start?.getHours()%>:<%=newMeeting.start?.getMinutes()%></p>
            <p class="mt-0 mb-0 fw-bold text-secondary details">Ends    :- <%=newMeeting.end?.getDate()%>-<%=newMeeting.end?.getMonth()%>-<%=newMeeting.end?.getYear()%> ,<%=newMeeting.end?.getHours()%>:<%=newMeeting.end?.getMinutes()%></p>
           <hr />
          </div>

        </form>
      <% }) %>
    <% } else{ %>
      <h5 class="text-center text-muted">Yo!! Nothing Scheduled So Far</h5>
    <% } %>



    </div>



<script>

 const arr = <%- JSON.stringify(arr) %>;
  document.addEventListener('DOMContentLoaded', function() {

       var calendarEl = document.getElementById('calendar');

       var calendar = new FullCalendar.Calendar(calendarEl, {
         initialView: 'dayGridMonth',
         headerToolbar: {
           left: 'prev,next today',
           center: 'title',
           right: 'dayGridMonth,timeGridWeek,timeGridDay' },
          eventBorderColor: '#28FFBF',
         events: arr});

            calendar.render();
           });
</script>

</div>
</body>
</html>
